.logo {
  display: flex;
  gap: 3px;
  flex-wrap: nowrap;
  align-items: center;
}

ul li,
a {
  font-family: "Red Rose";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  color: #434343;
  cursor: pointer;
}

.navbtn {
  background: linear-gradient(90deg, #a02279 11.45%, #a02279 11.45%);
  border-radius: 10px;
  width: 170px;
  height: 48px;
  color: white;
  border: none;
  font-size: 16px;
}
.navbar {
  max-width: 1240px;
  margin: 20px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 10vh;
}

.nav-links {
  display: flex;
  gap: 48px;
  align-items: center;
}

button {
  border: none;
  background: none;
  font-size: 20px;
}

.mobile-menu-icon {
  display: none;
}

@media (max-width: 979px) {
  .nav-links {
    display: none;
  }
  .mobile-link {
    position: absolute;
    display: block;
    list-style: none;
    box-shadow: rgba(50, 50, 93, 0.23) 0 30px 30px -20px;
    left: 0;
    top: 10%;
    transition: all 0.5s ease-in-out;
    width: 100%;
    background-color: white;
  }
  ul li{
    padding: 32px;
    transition: all 0.5s ease-in-out;
    text-align: center;
  }

  .mobile-menu-icon {
    position: absolute;
    display: block;
    right: 20px;
  }
}
